PORT=3000
SESSION_SECRET=change-me
DISCORD_WEBHOOK_URL=https://discordapp.com/api/webhooks/1485369745371824282/TYhWQvnUrykW4cmP52zKdYJg9_rOq5KfyZaDFlMv5BZsvaajmzIa9ojDHOt9Mc3meEis
STORAGE_DIR=/data
FORCE_ADMIN=false
